#sidenav {
    background: Cornsilk;
    height: 109vh;
    width: 40vh;
}
#MainContent {
    background: RosyBrown;
    height: 300vh;
    padding-left: 25rem;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    font-size: 1 em;
    color: black;
}
.resume-header{
    padding-top: 0;
}

h1 {
    font-family: 'Copperplate Gothic Bold', monospace;
    color: darkslategray;
    padding-top: 0;
}

h2 {
    font-family: 'Courier New', sans-serif;
    font-size: 1 em;
    color: black;
}

h3 {
    font-family: 'Courier New', sans-serif;
    font-size: 1 em;
    color: black;
}
p {
    font-family: 'Copperplate Gothic Light', monospace;
    color: gainsboro;
    padding-top: 3;
    padding-bottom: 3;
}

